body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

header img {
  height: 50px;
  margin-left: 10px;
}

span {
  padding: 20px 10px;
}

header a {
  color: seashell;
}

/* Main section, which encompasses the mission, featured tea,
locations and contact details. */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 69px; /* to clear the 69px header */
}


/* Mission */

.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
}

h2, h4 {
  color: seashell;
  background-color: black;
  margin: 0;
  padding: 10px;
}

/* Featured Tea */

.featured-tea {
  display: flex;
  flex-direction: column;
  margin-top: 60px; /* to recreate blank space shown in redline */
}
